<style>
  html, body{
  padding:0;
  margin:0;
  background-color:#000000;
  }
  
  p {
  
  
  color:#ffa3a3;
  
  }

  h1{
  font-size:65px;
  
  color:#ffa3a3;
  
  
  font-family: Ärial Times, serif;
   }
   h3{
  font-size:65px;
  
  color:#ffa3a3;
  
  
  font-family: Ärial Times, serif;
   }

  </style>
